<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Dashboard Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Ring Central</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid">
  <div class="row" style="height:100vh;">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="height:100%;">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              View <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new">
              <span data-feather="file"></span>
              New
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/edit">
              <span data-feather="shopping-cart"></span>
              Edit
            </a>
          </li> -->
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <canvas class="my-4 w-100" id="myChart" width="900" height="1"></canvas>
      <h2>Files <button class="btn btn-primary" onClick="window.location.reload();" style="border-radius:12px;"><i class="fas fa-redo"></i></button></h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <!-- <th>ID</th> -->
              <th>FILE</th>
              <th>CONTENT</th>
              <th>METHOD</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < files.length; i++) { %>
              <tr>
                <td><%= files[i].id %></td>
                <td><a href="/v1/file/download?id=<%= files[i].id %>"><%= files[i].name %></a></td>
                <td><%= files[i].text %></td>
                <td>
                <% if (files[i].locked == true) { %>

                  <i class="fas fa-lock" style="margin-right:1rem;">
       
                  <% } else { %>
       
                    <i class="fas fa-unlock" style="margin-right:1rem;"></i><a href="/edit?id=<%= files[i].id %>&name=<%= files[i].name %>&content=<%= files[i].text %>"><i class="fas fa-edit" style="margin-right:1rem;"></i></a><a href="/v1/file/delete?id=<%= files[i].id %>"><i class="fas fa-trash-alt"></i></a>
       
                  <% } %>
                </td>
              </tr>
           <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="main.js"></script></body>
</html>
